<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gwent</title>
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="application/javascript" src="gwent.js"></script>
        <link type="text/css" rel="stylesheet" href="gwent.css" />
    </head>
    <body>
        <div id="myApp" ng-app='myApp' ng-controller="MyCtrl">
            <div class="Controller">
                <div class="controls">
                    <button ng-click="loadDecks()">Load Decks</button>
                    <button ng-click="startGame()">Start Game</button>
                    <button ng-click="endCurrentRound()">End Round</button>
                    <button ng-click="consolePlayers()">Console</button>
                </div>
                <div class="PlayerScore">
                    <h3>Player 1: {{Player1.Score.Total()}}</h3>
                    <button ng-click="Player1.toggleHand()">Show Hand</button>
                    <div class="RowScore">CloseCombat: {{Player1.Score.CloseCombat}}</div>
                    <div class="RowScore">RangedCombat: {{Player1.Score.RangedCombat}}</div>
                    <div class="RowScore">SiegeCombat: {{Player1.Score.SiegeCombat}}</div>
                </div>
                <div class="PlayerScore">
                    <h3>Player 2: {{Player2.Score.Total()}}</h3>
                    <button ng-click="Player2.toggleHand()">Show Hand</button>
                    <div class="RowScore">CloseCombat: {{Player2.Score.CloseCombat}}</div>
                    <div class="RowScore">RangedCombat: {{Player2.Score.RangedCombat}}</div>
                    <div class="RowScore">SiegeCombat: {{Player2.Score.SiegeCombat}}</div>
                </div>
            </div>
            <div class="GwentBoard">
                <div class="Player Player1">
                    <div class="TheHand" ng-show="Player1.isHandVisible()">
                        <div class="GwentCardWrapper" ng-repeat='(id, card) in Player1.Hand' ng-init="player=0" ng-include="'gwent_card_hand.html'"></div>
                    </div>
                    <div class="TheBoard">
                        <div class="Row SiegeRow" ng-class="{activeWeather: isWeatherActive('SiegeCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player1.Board.SiegeCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player1.Board.SiegeCombat.CommandHorn.Card.image.card_map}} Row{{Player1.Board.SiegeCombat.CommandHorn.Card.image.row}} Column{{Player1.Board.SiegeCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player1.Board.SiegeCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                        <div class="Row RangedRow" ng-class="{activeWeather: isWeatherActive('RangedCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player1.Board.RangedCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player1.Board.RangedCombat.CommandHorn.Card.image.card_map}} Row{{Player1.Board.RangedCombat.CommandHorn.Card.image.row}} Column{{Player1.Board.RangedCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player1.Board.RangedCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                        <div class="Row CloseRow" ng-class="{activeWeather: isWeatherActive('CloseCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player1.Board.CloseCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player1.Board.CloseCombat.CommandHorn.Card.image.card_map}} Row{{Player1.Board.CloseCombat.CommandHorn.Card.image.row}} Column{{Player1.Board.CloseCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player1.Board.CloseCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Player Player2">
                    <div class="TheBoard">
                        <div class="Row CloseRow" ng-class="{activeWeather: isWeatherActive('CloseCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player2.Board.CloseCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player2.Board.CloseCombat.CommandHorn.Card.image.card_map}} Row{{Player2.Board.CloseCombat.CommandHorn.Card.image.row}} Column{{Player2.Board.CloseCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player2.Board.CloseCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                        <div class="Row RangedRow" ng-class="{activeWeather: isWeatherActive('RangedCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player2.Board.RangedCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player2.Board.RangedCombat.CommandHorn.Card.image.card_map}} Row{{Player2.Board.RangedCombat.CommandHorn.Card.image.row}} Column{{Player2.Board.RangedCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player2.Board.RangedCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                        <div class="Row SiegeRow" ng-class="{activeWeather: isWeatherActive('SiegeCombat')}">
                            <div class="Horn">
                                <div class="GwentCardWrapper" ng-show="Player2.Board.SiegeCombat.CommandHorn.Active">
                                    <div class="GwentCard Sheet{{Player2.Board.SiegeCombat.CommandHorn.Card.image.card_map}} Row{{Player2.Board.SiegeCombat.CommandHorn.Card.image.row}} Column{{Player2.Board.SiegeCombat.CommandHorn.Card.image.column}}">
                                    </div>
                                </div>
                            </div>
                            <div class="Cards">
                                <div class="GwentCardWrapper" ng-repeat='(id, card) in Player2.Board.SiegeCombat.Cards' ng-include="'gwent_card.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="TheHand" ng-show="Player2.isHandVisible()">
                        <div class="GwentCardWrapper" ng-repeat='(id, card) in Player2.Hand' ng-init="player=1" ng-include="'gwent_card_hand.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>