body {
    font-family: Arial;
}
.TheHand, .Row {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
}
.GwentCard {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}
.CardName {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    text-align: center;
}
.CardRow {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    border: 1px solid darkred;
    border-radius: 50px;
}
.CardPower {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    border: 1px solid darkgreen;
    border-radius: 50px;
}
.Horn {
    position: relative;
    width: 20%;
    display: inline-block;
}
.Cards {
    position: relative;
    width: 80%;
    display: inline-block;
}