<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gwent</title>
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="application/javascript" src="gwent.js"></script>
        <link type="text/css" rel="stylesheet" href="gwent.css" />
    </head>
    <body>
        <div ng-app='myApp' ng-controller="MyCtrl">
            <div class="Player Player1">
                <h3>Player 1: {{GwentGame.GwentBoard.Players[0].Score.Total()}}</h3>
                <div class="TheHand">
                    <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[0].Hand' ng-init="player=0" ng-include="'gwent_card_hand.html'"></div>
                </div>
                <hr />
                <div class="TheBoard">
                    <div class="Row SiegeRow" ng-class="{activeWeather: isWeatherActive('SiegeCombat')}">
                        <div class="Horn">S: {{GwentGame.GwentBoard.Players[0].Score.SiegeCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[0].Board.SiegeCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="Row RangedRow" ng-class="{activeWeather: isWeatherActive('RangedCombat')}">
                        <div class="Horn">R: {{GwentGame.GwentBoard.Players[0].Score.RangedCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[0].Board.RangedCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="Row CloseRow" ng-class="{activeWeather: isWeatherActive('CloseCombat')}">
                        <div class="Horn">C: {{GwentGame.GwentBoard.Players[0].Score.CloseCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[0].Board.CloseCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr /><hr />
            <div class="Player Player2">
                <div class="TheBoard">
                    <div class="Row CloseRow">
                        <div class="Horn">C: {{GwentGame.GwentBoard.Players[1].Score.CloseCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[1].Board.CloseCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="Row RangedRow">
                        <div class="Horn">R: {{GwentGame.GwentBoard.Players[1].Score.RangedCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[1].Board.RangedCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="Row SiegeRow">
                        <div class="Horn">S: {{GwentGame.GwentBoard.Players[1].Score.SiegeCombat}}</div>
                        <div class="Cards">
                            <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[1].Board.SiegeCombat.Cards' ng-include="'gwent_card.html'"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <h3>Player 2: {{GwentGame.GwentBoard.Players[1].Score.Total()}}</h3>
                <div class="TheHand">
                    <div class="GwentCardWrapper" ng-repeat='(id, card) in GwentGame.GwentBoard.Players[1].Hand' ng-init="player=1" ng-include="'gwent_card_hand.html'"></div>
                </div>
            </div>
            <hr>
            <div>
                Player1: {{GwentGame.GwentBoard.Players[0].Score.Total()}}<br />
                C: {{GwentGame.GwentBoard.Players[0].Score.CloseCombat}}<br />
                R: {{GwentGame.GwentBoard.Players[0].Score.RangedCombat}}<br />
                S: {{GwentGame.GwentBoard.Players[0].Score.SiegeCombat}}<br />
            </div>
        </div>

    </body>
</html>